<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Desafio 5 Codelândia</title>
</head>
<body>
    <header>
        <div id="menu">
            <i class="fab fa-facebook-f" id="facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>  
        </div>
    </header>
    <section>
        <div id="centro">
            <div id="textos">
                <h1>HAYAO MIYAZAKI</h1>
                <h2>A VIAGEM DE CHIHIRO</h2>
                <p>Chihiro chega a um mundo mágico dominado por uma bruxa. Aqueles que a desobedecem são transformados em animais.</p>
                
            </div>
            <div id="imagem">
                <img src="../static/img/image.png">
            </div>
        </div>
        <div id="botoes">
            <button id="assistir_agora"><i class="fas fa-play"></i>ASSISTIR AGORA</button>
            <button id="assistir_trailer">ASSISTA O TRAILER</button>
        </div>
        
    </section>
</body>
</html>